<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Management Page</title>
</head>
<body>

<div>
  <div>
    <!--cctv-->
  </div>

  <div>
    <!--출입자 알림-->
  </div>
</div>

<div>
  <div>
    {% if weather_alert %}
      <p>{{ weather_alert }}</p>
    {% else %}
      <p>기상 특보가 없습니다.</p>
    {% endif %}
  </div>

  <div>
      <!-- 메모 내용 표시 -->
    {% if memo %}
      <p>{{ memo.content }}</p>
    {% else %}
      <p>메모가 없습니다.</p>
    {% endif %}

    <form action="edit/" method="get">
      <button type="submit">Edit Memo</button>
    </form>
  </div>

  <div>
    <ul>
  {% for schedule in schedules %}
    <li>{{ schedule.title }} - {{ schedule.start_time|date:"Y-m-d H:i" }}</li>
  {% empty %}
    <li>오늘의 일정이 없습니다.</li>
  {% endfor %}
    </ul>
  </div>

</div>

</body>
</html>