{%extends 'layout.html'%}

{%block content%}
<script type="text/javascript" src="kcal_dic.js"></script>
<br><br>
    <h1>칼로리 계산기</h1>
    <label for="food">섭취음식</label>
    <input type="text" id="food">
    <br><br>
    <label for="amount">섭취량(g)</label>
    <input type="text" id="amount">
    <br><br>
    <button type="submit" onclick="kcal()">계산</button>

    <p><span id="results"></span></p>

<script>


    function find_kcal(food,amount) {
        let total_kcal = 0
        if (food in kcal_dic) {
            total_kcal = parseFloat(kcal_dic[food]) / 100 * parseFloat(amount)
            return total_kcal
        } else {
            return -1
        }
    }

    function kcal(){
        let food=document.getElementById('food').value;
        let amount=document.getElementById('amount').value;
        let find=find_kcal(food,amount);
        if (find==-1) {
            document.getElementById("results").innerHTML =`${food}의 열량 정보가 없습니다`;
        } else {
            document.getElementById("results").innerHTML = `${food} ${amount}g : ${find}kcal`;
        }
        }
</script>
{%end block%}