<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%if title%}
    <title>{{title}}</title>
    {%else%}
    <title>2024-2 응용소프트웨어 7조</title>
    {%endif%}
    <link href="static/head.css" rel="stylesheet" type="text/css">

</head>
<body>
<nav>
    <a href="{{url_for('index')}}">Home</a>
    <a href="{{url_for('gy')}}">Personal Page(Gayeon)</a>
    <a href="{{url_for('km')}}">Personal Page(Kyungmun)</a>
</nav>

<main role="main">
    {%block content%}{%endblock%}
</main>
</body>
</html>