{%extends './layout.html'%}
{%load static%}

{%block content%}

<title>Management Page</title>

        <div class="card-body">
         <div style="display: flex; justify-content: space-between;">
           <div style="flex: 1;">
                <div class="card mb-4 py-3 border-left-info">
                          <div class="card-body">
                                  <img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 25%);" src="http://113.198.63.27:20750/monitor" width="526" height="394">
                           </div>
                </div>
            </div>

            <div style="flex: 1; text-align: right;">
                  <!--출입자 알림-->
                  <div class="card mb-4 py-3 border-left-info">
                    <div class="card-body">
                      <p>{{ alarm1 }}</p>
                    </div>
                  </div>
                        
                  <div class="card mb-4 py-3 border-left-info">
                    <div class="card-body">
                      <p>{{ alarm2 }}</p>
                    </div>
                  </div>
                        
                  <div class="card mb-4 py-3 border-left-info">
                    <div class="card-body">
                      <p>{{ alarm3 }}</p>
                    </div>
                  </div>
            </div>
        </div>
        </div>

        <div class="card-body">

          <div class="card mb-4 py-3 border-left-info">
            <div class="card-body">
            {% if weather_alert %}
              <p>{{ weather_alert }}</p>
            {% else %}
              <p>기상 특보가 없습니다.</p>
            {% endif %}
            </div>
          </div>


          <div class="card mb-4 py-3 border-left-info">
            <div class="card-body">

            {% if memo %}
              <p>{{ memo.content }}</p>
            {% else %}
              <p>메모가 없습니다.</p>
            {% endif %}

            <a href="edit/" class="btn btn-light btn-icon-split">
              <span class="text">Edit Memo</span>
            </a>

            </div>
          </div>

          <div class="card mb-4 py-3 border-left-info">
            <div class="card-body">
            <ul>
            {% for schedule in schedules %}
              <li>{{ schedule.title }} - {{ schedule.start_time|date:"Y-m-d H:i" }}</li>
            {% empty %}
              <li>오늘의 일정이 없습니다.</li>
            {% endfor %}
            </ul>
            </div>
          </div>

        </div>

{%endblock%}
