<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ post.title }} - Blog</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../static/blog/assets/files.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../static/blog/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{ post.created_at|date:"F j, Y" }}</div>
                            <!-- Post categories-->
                        </header>
                        <!-- Preview image figure-->
                        {% if post.head_image %}
                            <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }}" /></figure>
                        {% else %}
                            <p><em>No image available for this post.</em></p>
                        {% endif %}

                        <!-- Post content-->
                        <section class="mb-5">
                            <p> {{ post.content }}</p>
                            {% if post.file_upload %}
                             <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button">
                                 Download:
                                 {% if post.get_file_ext == 'csv' %}
                                 <i class="fas fa-file-csv"></i>
                                 {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                                 <i class="fas fa-file-excel"></i>
                                 {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                                 <i class="fas fa-file-word"></i>
                                 {% else %}
                                 <i class="far fa-file"></i>
                                 {% endif %}
                                 {{ post.get_file_name }}
                             </a>
                            {% endif %}
                        </section>
                    </article>
                </div>
            </div>
        </div>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../../static/blog/js/scripts.js"></script>
    </body>
</html>